@charset "utf-8";
@import "../foundation/_mixin.scss";
.contact {
  background-color: #fff;

  .c-section__Title-Img {
    @include pc {
      margin-bottom: 8rem;
    }
  }
  &__Inner {
    width: 85%;
    padding: 3vw 0 24vw;
    margin: 0 auto;
    text-align: center;
    position: relative;
    @include pc {
      padding: 0 0 8rem;
    }
  }
  &__Pop {
    position: absolute;
    right: 76%;
    top: 9%;
    width: 27vw;
    @include pc {
      display: none;
    }
  }
  &__Info {
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-right: 12vw;
    justify-content: left;
    font-size: get_vw(18);
    font-family: sans-serif;
    color: $font;
    position: relative;
    @include pc {
      display: inline-block;
      white-space: nowrap;
      font-size: 2.4rem;
      margin-right: 0;
      margin: 0 auto;
      justify-content: center;
      margin-top: 4rem;
      width: 30rem;
      vertical-align: middle;
    }
    &:nth-of-type(1) {
      .border-bottom {
        @include pc {
          color: $font;
        }
        &:after {
          @include pc {
            display: none;
          }
        }
      }
    }
    &:nth-of-type(2) {
      .border-bottom {
        &:after {
          display: none;
        }
      }
      .contact__Img-mailInfo {
        height: 6vw;
        @include pc {
          height: 24px;
        }
      }
    }
  }

  .border-bottom {
    color: $blue;
    margin-bottom: 5vw;
    &:after {
      height: 1px;
      display: block;
      content: "";
      width: 72%;
      margin-left: 29%;
      margin-top: -8vw;
      background: $blue;
    }
    @include pc {
      &:after {
        height: 1px;
        display: block;
        content: "";
        width: 20.6rem;
        margin-left: 25%;
        margin-top: -1rem;
        background: $blue;
      }
    }

    > a {
      color: $blue;
    }
  }
  &__Img {
    height: 19vw;
    margin-right: 3vw;
    vertical-align: middle;
    display: inline-block;
    @include pc {
      height: 5rem;
      margin-right: 0;
      vertical-align: middle;
    }
    &-Phone {
      margin-right: 5vw;
      height: 21vw;
      @include pc {
        margin-right: 0;
        height: 6rem;
      }
    }
  }
  &__mail {
    font-size: 1.8rem;

    @include pc {
      font-size: 2.4rem;

    }
  }
  &__PlaceBox {
    margin: 0 auto;
    margin-top: 5vw;
    @include pc {
      width: 70%;
      margin: 0 auto;
      min-width: 50rem;
    }
  }
  &__PlaceTitle {
    font-size: get_vw(18);
    margin-right: 2vw;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5vw;
    font-family: sans-serif;
    @include pc {
      font-size: 2.4rem;
      margin: 0 auto 8rem;
      width: 45%;
      text-align: center;
      display: inline-block;
    }
    &:nth-child(odd) {
      @include pc {
      }
    }
  }
  &__PlaceDesc {
    font-size: get_vw(14);
    margin-right: 5vw;
    text-align: left;
    display: block;
    font-weight: normal;
    @include pc {
      font-size: 1.4rem;
      margin-right: 0px;
      text-align: center;
    }
  }
  &__Ancor {
    padding-top: 11vw;
    margin-top: -11vw;
    @include pc {
      display: none;
    }
  }
  .googleMap__Link {
    font-size: get_vw(18);
    color: $blue;
    margin: 0 auto;
    margin-top: 12vw;
    display: block;
    width: 60%;
    font-family: sans-serif;
    border-bottom: 1px solid $blue;
    @include pc {
      margin-top: 0px;
      font-size: 1.8rem;
      width: 25%;
      display: inline;
    }
  }
  .ggmap {
    margin-top: 12vw;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    @include pc {
      margin-top: 4rem;
    }
  }
  .ggmap iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
}

#Accsses {
  margin-top: -11vw;
  padding-top: 25vw;
  @include pc {
    margin-top: 8rem;
    padding-top: 0;
  }
}
