@charset "utf-8";
@import "../foundation/_mixin.scss";

.video {
  background-color: #fff;
  padding: 3rem 0 0;

  @include pc {
    overflow-x: scroll;
  }

  &__Inner {
    width: 85%;
    padding: 12vw 0 0;
    margin: 0 auto;

    @include pc {
      width: 77%;
    }
  }

  &__Box {
    margin: 4rem auto 0;

    @include pc {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  }

  &__video {
    @include sp {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
    }
  }

  &__video iframe {
    @include sp {

      position: absolute;
      top: 0;
      right: 0;
      width: 100% !important;
      height: 100% !important;
    }
  }



  &__Desc {
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.6rem;
    width: auto;
    text-align: left;

    @include pc {
      margin-top: 0rem;
      margin-left: 2rem;
      font-size: 1.8rem;
    }

  }

}