.c-sectionBetween.c-sectionBetween-leaf.c-sectionBetween-Sub.c-sectionBetween-Company
  .bredList
    a.bredList__Link(href="/") トップページ
    |＞
    p.bredList__Now 会社概要
  h1.subMain__Title 当店について
section.companyMessage.c-section.js-animation
  h2.c-section__Title.mt-11vw メッセージ
  img.c-section__Title-Img(src="assets/images/g-line.svg" alt="")
  .companyMessage__Inner
    .companyMessage__InnerBox
      h3.companyMessage__Title
        span.c-colorYellow 光り輝く
        | 人
      .companyMessage__DescBox
        p.companyMessage__Desc それは
          span.companyMessage__Desc-Define 『内面』
          |から美しい人。
        p.companyMessage__Desc 当店では化粧品販売や、
          br
          | エステだけではなく、
          br
          span.companyMessage__Desc-Define 内面を磨く
          |ためのイベントも
          br
          |定期的に開催しています。
        p.companyMessage__Desc
          span.companyMessage__Desc-Define 『光輝く人』
          |がたくさん
          br
          |集まるような街のコミュニティ。
        p.companyMessage__Desc そんな場所を目指して、
          br
          | 日々活動しております。

