
section.president.js-animation.c-section
  .president__Inner
    h2.c-section__Title.pt-12vw 代表挨拶
    img.c-section__Title-Img(src="assets/images/g-line.svg" alt="")
    .president__InnerBox
      .president__DescBox
        img.president__Img(src="assets/images/company_jun.jpg" alt="")
        p.president__Desc 代表取締役
          br
          | 井澤 順子
      .president__MessageBox
        p.president__Message アイビー化粧品、兵庫三木販売会社、「ジュンコスメハウス」では、外面の美としては、お肌のカウンセリングを通して、お客様に合った製品の紹介はもちろんのこと、スキンケアや、メークアップ等のアドバイスも行っております。
        p.president__Message お肌の弱い方、アレルギーの方などのご相談もお受けしております。その他、お肌のお悩み事など、何でもお気軽にお問い合わせください。
        p.president__Message そして大切な心、内面の美も磨くということでは、人間関係をスムーズにする為の、人と人とのかかわり方をを学ぶ「親と子のかかわり方教室」を開催しております。（これは親子だけでなく、友人、家族、職場関係などにも共通しています。）また、お肌の基本のお手入れからメイクアップまで学べる「メイクアップ教室」、そして、プロのエステティシャンやメイクアップアーチストを目指す人の為の養成セミナーも行っております。
        p.president__Message アイビー化粧品、ジュン・コスメハウスでは、愛を持って美を伝えながら、自分自身の可能性へのチャレンジ！をテーマに、夢を持ち、一生に一回しかない人生をイキイキ生きる仲間づくりをしています。
