
.contact__Ancor#contact
section.contact.c-section.js-animation
  .contact__Inner.c-clearFix
    h2.c-section__Title.c-subSection#Contact お問いあわせ
    img.c-section__Title-Img(src="assets/images/g-line.svg" alt="")
    img.contact__Pop(src="assets/images/contact_message.svg" alt="")
    p.contact__Info
      span.border-bottom
        img.contact__Img.contact__Img-Phone(src="assets/images/phone.svg" alt="")
        |0794-86-2324(会社)
    p.contact__Info
      img.contact__Img.contact__Img-mail(src="assets/images/contact_letter.svg" alt="")
      span.contact__mail jun.purecosmos@gmail.com
    h2.c-section__Title.mt-11vw#Accsses アクセス
    img.c-section__Title-Img.mb-20vw(src="assets/images/g-line.svg" alt="")
    .contact__PlaceBox
      p.contact__PlaceTitle 会社名
        span.contact__PlaceDesc 有限会社 ジュン・コスメハウス
      p.contact__PlaceTitle 郵便番号
        span.contact__PlaceDesc 〒673-0404
      p.contact__PlaceTitle 住所
        span.contact__PlaceDesc 兵庫県三木市大村63-47
      p.contact__PlaceTitle 営業時間
        span.contact__PlaceDesc 月~土:10:00～18:00 /日:定休日
      .ggmap
        .
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.0373735190146!2d134.96661761523504!3d34.80500158040771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35552cf30bfaf42b%3A0xdec0c835d57c8159!2s63-47+%C5%8Cmura%2C+Miki%2C+Hyogo+673-0404!5e0!3m2!1sen!2sjp!4v1557491378424!5m2!1sen!2sjp" width="400" height="300"  style="border:0" allowfullscreen></iframe>