.eventPop
  .eventPop__Inner
    .eventPop__ButtonOuter
      a.eventPop__CloseOuter.js-eventPop__Close(href="#")
        span.eventPop__Close
        p.eventPop__Close-Txt 閉じる
    section.js-PopContent.makeShow(data-index=0)
      h3.eventPop__Title メイクアップショーとは
      .eventPop__Box
        img.eventPop__Img(src="assets/images/service_event.jpg" alt="")
        p.eventPop__Desc メイクアップショーはメイクさんとモデルさんのためのイベントです。<br>
          |メイクさんは培ってきた技術を使ってモデルさんの魅力を引き出します。<br>
          |最後には写真撮影を行います。定期的に開催しており、メイクさんとモデルさんを随時募集しております。<br>お気軽にお問い合わせください。
    section.js-PopContent.makeSchool(data-index=1)
      h3.eventPop__Title メイク教室
      .eventPop__Box
        img.eventPop__Img(src="assets/images/service_makeup.jpg" alt="")
        p.eventPop__Desc 自分がどんなメイクをしたいのか。<br>
          | 具体的なイメージがある方は、ではどんなメイクをすればいいのか。イメージがない方はまずどんなメイクが似合うのか。<br>
          | メイク、化粧品の知識を持った美容部員がアドバイスさせていただきます。
    section.js-PopContent.parentChild(data-index=2)
      h3.eventPop__Title 親と子の関わり方教室
      .eventPop__Box
        img.eventPop__Img(src="assets/images/parentChild.jpg" alt="")
        p.eventPop__Desc 子育てに決まった方法はありません。だからいろんなアプローチを試して見ることが必要です。<br>
          | まずは子どもとして見るのではなく、一人の人間として見てあげる。<br>その中でベストなアプローチを見つけるべきです。<br>
          | 「あなたに合った、”子どもへのアプローチの方法”」を講師と一緒に探して行きましょう。
    section.js-PopContent.yoga(data-index=3)
      h3.eventPop__Title ヨガ教室
      .eventPop__Box
        img.eventPop__Img(src="assets/images/event_yoga.jpg" alt="")
        p.eventPop__Desc 当店の2Fフリースペースでは毎週火曜にヨガ教室を開催しております。<br>
          | ヨガで健康的な体作りを初めて見ませんか？<br>
          | 初めての方も毎回いらしゃいますので、<br>お気軽にお問い合わせください。
    a.c-moreButton.js-eventPop__Close(href="#Contact") お問い合わせへ


