.c-sectionBetween.c-sectionBetween-clover.c-sectionBetween-Sub
  .bredList
    a.bredList__Link(href=`index${html}`) トップページ
    |＞
    p.bredList__Now お知らせ
  h1.newsMain__Title お知らせ
.serviceMain.c-section
  section.ivyNews.subSection.js-animation
    h2.c-section__Title.c-subSection#ivyNews アイビーニュース
    img.c-section__Title-Img(src="assets/images/g-line.svg" alt="")
    .section__Inner.c-clearFix
      img.ivyNews__Img(src="assets/images/newsImg.jpg" alt="")
      p.ivyNews__Desc (株)アイビー化粧品発行は毎月、美容情報誌「アイビーニュース」を発行しております。
        br
        | 内容は以下の公式サイトよりご確認頂けます。
      a.c-moreButton(href="https://www.ivy.co.jp/products/") アイビーニュース
       br
       | (公式サイト)
