
.serviceMain.c-section#rental
  section.rental.js-animation
    h2.c-section__Title#rental.c-subSection レンタルスペース
    img.c-section__Title-Img(src="assets/images/g-line.svg" alt="")
    .rental__Box
      img.rental__Img(src="assets/images/service_rental.jpg" alt="")
      p.rental__Message 弊社２階はレンタルスペースとして皆さまにご利用いただいております。 これまでにアーティストによるライブ、
        br
        | 書道教室、音楽教室、研修など、様々な用途にご利用いただきました。
    .rental__Box
      img.rental__Img(src="assets/images/workshop.jpg" alt="")
      p.rental__Message イベント等開催されたい方は以下から
        br
        | お気軽にお問い合わせください。具体的な空き状況や、施設内容をご案内させていただきます。
    a.c-moreButton(href="#contact") ご連絡はこちらから
      br
      |(お問い合わせへ)

