
.serviceMain.c-section
  section.ivy.js-animation
    h2.c-section__Title#ivy.c-subSection 化粧品販売
    img.c-section__Title-Img(src="assets/images/g-line.svg" alt="")
    img.ivy__Img(src="assets/images/service_ivy.jpg" alt="")
    p.ivy__Message 当社はアイビー化粧品（株）から認められた販売会社です。
      br
      | 製品についてはこちらからどうぞ
    a.c-moreButton(href="https://www.ivy.co.jp/products/") アイビー化粧品
      br
      |(製品ページ)

