
section.video.c-section.js-animation
  .video__Inner.c-clearFix.c-section__Inner
    h2.c-section__Title TV番組で取り上げていただきました！
    img.c-section__Title-Img(src="assets/images/g-line.svg" alt="")
    .video__Box
      .video__video
        .
          <iframe width="560" height="315" src="https://www.youtube.com/embed/BRXR3zd_bMI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      p.video__Desc 地上波 神戸サンテレビ3chにて放映中の <br>【ステテコ隊の絶勝祈願!】にて<br>「ジュン・コスメハウス」を取り上げていただきました！
