
section.show.c-section.js-animation
  .show__Inner.c-clearFix.c-section__Inner
    h2.c-section__Title メークショー
    img.c-section__Title-Img(src="assets/images/g-line.svg" alt="")

    .show__Box
      .swiper-container
          ul.swiper-wrapper
            -
              const makeShowData = [
              {
                title:`ヨガ教室`,
                img: 'assets/images/makeshow_2007/67430'
              },
              {
              title:`メイクアップショー`,
              img: 'assets/images/makeshow_2007/67423'

              },
              {
              title:`メイク教室`,
              img: 'assets/images/makeshow_2007/67425'

              },
              {
              title:`親と子の関わり方教室`,
              img: 'assets/images/makeshow_2007/67403'
              },
              {
              title:`親と子の関わり方教室`,
              img: 'assets/images/makeshow_2007/67429'
              },
              {
              title:`親と子の関わり方教室`,
              img: 'assets/images/makeshow_2007/67417'
              },
              {
              title:`親と子の関わり方教室`,
              img: 'assets/images/makeshow_2007/67415'
              },
              {
              title:`親と子の関わり方教室`,
              img: 'assets/images/makeshow_2007/67408'
              },
              ]
            each item in makeShowData
              div.swiper-slide
                img.show__Img(src=`${item.img}.jpg` alt="")



      p.show__Desc 当店では定期的に「メイクアップショー」を開催しています。
        | <br>「メイクアップショー」はメイクさんとモデルさんのためのイベントです。
        | <br>メイクさんは培ってきた技術を使ってモデルさんの魅力を引き出します。最後には写真撮影を行います。
        | <br>定期的に開催しており、メイクさんとモデルさんを随時募集しております。お気軽にお問い合わせください。
        <span class="show__Notice">※写真は2020.7.11inメゾンドリバ―ジュにて行われたメイクショーの様子です。</span>





