
section.hero.js-animation#hero
  .hero__Inner
    h2.hero__Title
      img.hero__Title-Img(src="./assets/images/icon_clover.svg" ,alt="",)
      span.hero__Title-Strong J
      |UN
      span.hero__Title-Strong  C
      |OSME
      br
      span.hero__Title-Bottom
        span.hero__Title-Strong  H
        |OUSE

