.c-sectionBetween.c-sectionBetween-clover.bg-None.js-animation
  img.c-sectionBetween__direction.js-slideButton(src="./assets/images/direction.svg" alt='')
section.message.c-section.js-animation
 .message__Inner
  .message__InnerBox
      h3.message__Title
        span.c-colorYellow 光り輝く
        | 人
      p.message__Desc 「外面」だけではない
        br
        span.message__Desc-fontM 「内面」
        | から
        br
        span.c-colorRose
          span.message__Desc-fontL 美
          |しい人
      p.message__Desc-Bottom そんな人を
        br
        | 応援しています。
