doctype html
- const url="company"
- const html =""
html(lang='ja')
  head
    meta(charset='utf-8')
    -
      $imgPath = './assets/images/'
      $selfURL = 'https://jun-cosme.net/company.html'
    include include/_head.pug
    include include/_script.pug
  body.company
    .l-Wrapper
      include include/_header_sub.pug
      .l-Content
        .l-Main
          main
            include section/_COMPANY_MESSAGE.pug
            include section/_COMPANY_PRESIDENT.pug
            include section/_CONTACT.pug
      include include/_footer.pug