doctype html
- const url="company"
- const html =".html"
html(lang='ja')
  head
    -
      $imgPath = './assets/images/'
      $selfURL = 'https://jun-cosme.net/company.html'
    meta(rel="canonical" href=$selfURL)
    meta(charset='utf-8')
    include include/_head.pug
  body.company
    .l-Wrapper
      include include/_header_sub.pug
      .l-Content
        .l-Main
          main
            include section/_COMPANY_MESSAGE.pug
            include section/_COMPANY_PRESIDENT.pug
            include section/_CONTACT.pug
      include include/_footer.pug
      include include/_script.pug