doctype html
- const url = "service"
- const html =".html"

html(lang='ja')
  head
    -
      $imgPath = './assets/images/'
      $selfURL = 'https://jun-cosme.net/service.html'
    meta(charset='utf-8')
    meta(rel="canonical" href=$selfURL)
    include include/_head.pug
  body.service
    .l-Wrapper
      include include/_header_sub.pug
      .l-Content
        .l-Main
          main
            include section/_SERVICE_FACE.pug
            include section/_SERVICE_BODY.pug
            include section/_SERVICE_SOMA.pug
            include section/_SERVICE_EVENT.pug
            include section/_SERVICE_IVY.pug
            include section/_SERVICE_DRESS.pug
            include section/_SERVICE_RENTAL.pug
            include section/_CONTACT.pug
      include include/_footer.pug
      include include/_script.pug
