.calendar(class=`calendar-${url}`)
  .calendar__Inner
    h2.calendar__Title スケジュール
    .js-calendar__Year.calendar__Year.c-clearFix
    .calendar__Control
      a.calendar__Previous.js-PreviousButton 前へ
      .calendar__Month.js-ThisMonth
        span.js-calendar__Month-Number.calendar__MonthNumber
        |月
      a.calendar__Next.js-NextButton 次へ
    ul.calendar__Contents