title 兵庫県三木市の化粧品販売店・エステサロン「ジュン・コスメハウス」
meta(http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate")
meta(http-equiv="Pragma" content="no-cache")
meta(http-equiv="Expires" content="0")
meta(name="keywords",content="三木市,化粧品,ジュンコスメハウス,エステ,エステサロン,アイビー,ivy,マッサージ")
meta(name="description", content="兵庫県三木市にある化粧品販売会社です。")
meta(name="viewport", content="width=device-width,initial-scale=1")
//- ogp
meta(property="og:title", content="JUN COSME HOUSE")
meta(property="og:type", content="website")
meta(property="og:url", content=$selfURL)
meta(property="og:image", content=$selfURL+"assets/images/top2.png")
meta(property="og:image:width", content="1200")
meta(property="og:image:height", content="630")
meta(property="og:description", content="兵庫県三木市の化粧品販売店・エステサロン「ジュン・コスメハウス」は、美しさを育む製品・サービスの提供を通して、街のコミュニティ作りに貢献します。")
meta(http-equiv="X-UA-Compatible", content="IE=edge")


script(type="application/ld+json").

//- external files
link(rel="stylesheet", type="text/css", href="./assets/css/common.css?20200831")
link(rel="shortcut icon", href="./assets/images/favicon.png")
link(rel="apple-touch-icon", href="./assets/images/apple-touch-icon.png")
.
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:300,400Sawarabi+Mincho" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
