-
    const topNewsData = [
      {
      date: "2019年4月12日",
      link: "#calendar",
      category: "ニュース",
      categoryClass: "news__Category-News",
      desc: `「4月のイベント情報」のスケジュールを更新しました。`,
      }
      ,{
      date: "2019年4月12日",
      link: "#calendar",
      category: "イベント",
      categoryClass: "news__Category-Event",
      desc: `「4月のイベント情報」のスケジュールを更新しました。`,
      },{
      date: "2019年4月12日",
      link: "#calendar",
      category: "ニュース",
      categoryClass: "news__Category-News",
      desc: `「4月のイベント情報」のスケジュールを更新しました。`,
      },{
      date: "2019年4月12日",
      link: "#calendar",
      category: "ニュース",
      categoryClass: "news__Category-News",
      desc: `「4月のイベント情報」のスケジュールを更新しました。`,
      },{
      date: "2019年4月12日",
      link: "#calendar",
      category: "ニュース",
      categoryClass: "news__Category-News",
      desc: `「4月のイベント情報」のスケジュールを更新しました。`,
      }
      ,{
      date: "2019年4月12日",
      link: "#calendar",
      category: "ニュース",
      categoryClass: "news__Category-News",
      desc: `「4月のイベント情報」のスケジュールを更新しました。`,
      }
    ]